<div class="modal fade">
	      	<div class="modal-dialog">
	      		<div class="modal-content">
	      			<div class="modal-header">
	      				<h4 class="modal-title">Publish</h4>
	      			</div>
	      			<div class="modal-body">
				      	<form action="">
				      		<div class="form-group">
					      		<label for="">Non:</label>
					      		<input type="text" class="form-control">
				      		</div>
				      		<div class="form-group">
					      		<label for="">Vil:</label>
					      		<input type="text" class="form-control">
				      		</div>

				      		<div class="form-group">
					      		<label for="">Pwoblem:</label>
					      		<textarea name="" id="" cols="60" rows="3" class="form-control"></textarea>
				      		</div>

				      		<div class="form-group">
					      		<label for="">Solisyon:</label>
					      		<textarea name="" id="" cols="60" rows="3" class="form-control"></textarea>
				      		</div>
				      	</form>
	      				
	      			</div>
	      			<div class="modal-footer">
	      				<input type="button" class="btn-success btn" value="Publish" ng-click="submitForm()" />
	      				<input type="button" class="btn btn-danger" value="Cancel" ng-click="cancelForm()" />
	      			</div>
	      		</div><!-- modal-content -->
	      	</div><!-- modal-dialog -->
      </div><!-- modal -->